/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0px;
  background-color: white;
  /* General Styles */
}
body > * {
  font-size: 14px;
}
body #main-svg #main-bg-rect {
  opacity: 0;
}
body #main-svg path.state-path {
  stroke: black;
  stroke-width: 0;
}
body #main-svg circle.vertice-circle {
  fill: purple;
  stroke: black;
  stroke-width: 1.5px;
}
body #main-svg line.edge-line {
  stroke: black;
}
body #main-svg #hover-g {
  pointer-events: none;
}
body #main-svg #hover-text {
  dominant-baseline: middle;
  text-anchor: middle;
}
body #main-svg #hover-rect {
  stroke: black;
  stroke-width: 0;
  fill: white;
}
body #filters-svg rect.grade-rect {
  stroke: black;
  stroke-width: 0;
  pointer-events: none;
}
body #filters-svg text.grade-label {
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}
body #states-select {
  height: 25px;
  margin-top: 15px;
}
body #info-svg {
  text-align: center;
}
body .hovered {
  opacity: 0.3;
}
body .button-object {
  cursor: pointer;
}
body .unselectable {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
         Introduced in IE 10.
         See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
  -ms-user-select: none;
  user-select: none;
}
