/*
1   320     568     P iPhone 5
2   375     627     P iPhone 6
3   414     736     P iPhone 6+
4   667     375     
5   736     414
6   768     1024    P iPad
7   1024    768
*/
@font1Size: 14px;
@statesStrokeColor:   white;
@statesStrokeWidth:   2px;
@gradesStrokeColor:   black;
@gradesStrokeWidth:   0px;
@hoverStrokeColor:    black;
@hoverStrokeWidth:    0px;
@hoverFillColor:      white;

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0px;
}
#box0 {
    display: inline-block;
    text-align: center;
    // outline: 1px solid orange;
    > * {
        font-size: @font1Size;
    }
}
#box1 {
    display: inline-block;
    vertical-align: top;
    // outline: 1px solid blue;
    > * {
        font-size: @font1Size;
    }
}
#main-svg { 
    #main-bg-rect {
        opacity: 0;
    }
    path.state-path {
        stroke: @statesStrokeColor;
        stroke-width: @statesStrokeWidth;
    }
    circle.vertice-circle {
        fill: purple;
        stroke: black;
        stroke-width: 1.5px;
    }
    line.edge-line {
        stroke: black;
    }
    #hover-g {
        pointer-events: none;
    }
    #hover-text {
        dominant-baseline: middle;
        text-anchor: middle;
    }
    #hover-rect {
        stroke: @hoverStrokeColor;
        stroke-width: @hoverStrokeWidth;
        fill: @hoverFillColor;
    }
}
#filters-svg {
    rect.grade-bg {
        opacity: 0;
    }
    rect.grade-rect {
        stroke: @gradesStrokeColor;
        stroke-width: @gradesStrokeWidth;
        pointer-events: none;
    }
    text.grade-label {
        text-anchor: middle;
        dominant-baseline: middle;
        pointer-events: none;
    }
}
#states-select {
    height: 25px;
}
#info-svg {
    text-align: center;
}
.vspacer-15 {
    display: block;
    height: 15px;
}
/* General Styles */
.hovered {
    opacity: 0.3;
}
.button-object {
    cursor: pointer;
}
.unselectable {
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.loading {
    opacity: 0;
}
.inactive {
    rect&, path& {
        pointer-events: none !important;
        fill: gainsboro !important;
        opacity: 0.5 !important;
    }
    rect&, text& {
        transform: translate(2px,2px) !important;
    }
}